/*Ken Jiang - 20312932X, Anson Yuen - 23012962X*/
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: black;
    border: none;
}

.btn-primary:hover {
    background-color: grey;
    border: none;
}

.footer-link {
    font-weight: bold;
    text-decoration: none;
    color:#AAA;
}

h1 {
    font-weight: bold;
    margin: 0px;
}

h3 {
    margin: 0px;
}

h4 {
    font-style: italic;
}